.index_table_year{
	width: 200px;
	height: auto;
	float: left;

}
a{
	 hide{display:none;}
}
#index_table{
	float: left;
	width: auto;
	height: auto;
}
	
	#tab{
			width: auto;
			height: auto;
			border:1px solid #cdcdcd;
			font-weight: :normal;
		}
	td{
		border:1px solid #cdcdcd;
		font-weight: :normal;
		border-collapse: 0px;

	}
	th{
		border:1px solid #cdcdcd;
	}
